@charset 'UTF-8';
@import url("font-awesome.min.css");
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200);
@import url(http://fonts.googleapis.com/css?family=Lobster);


.tableMenu {
    overflow:hidden;
    border:1px solid #d3d3d3;
    background:#fefefe;
    width:100%;
    margin:5% auto 0;
    -moz-border-radius:5px; /* FF1+ */
    -webkit-border-radius:5px; /* Saf3-4 */
    border-radius:5px;
    -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    color: black;
    font-size: 120%;
}

.tableMenu img {
    height: 40px;
}

.tableMenu th {padding:18px 28px 18px; text-align: center;}

.tableMenu th {padding-top:22px; text-shadow: 1px 1px 1px #fff; background:#e8eaeb; height: 12.5px; border-bottom: 1px solid #c8cdcf;}

.tableMenu td {border-top:1px solid #e0e0e0; border-right:1px solid #e0e0e0; text-align: center; text-shadow: none;}

.tableMenu tr.odd-row td {background:#f6f6f6;}

.tableMenu td.first, th.first {text-align:left}

.tableMenu td.last {border-right:none;}

/*
    Background gradients zijn overbodig ma beetje cool
*/

.tableMenu td {
    vertical-align: middle;
    padding:15px;
    background: -moz-linear-gradient(100% 25% 90deg, #fefefe, #f9f9f9);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f9f9f9), to(#fefefe));
}

.tableMenu tr.odd-row td {
    background: -moz-linear-gradient(100% 25% 90deg, #f6f6f6, #f1f1f1);
    background: -webkit-gradient(linear, 0% 0%, 0% 25%, from(#f1f1f1), to(#f6f6f6));
}

.tableMenu th {
    background: -moz-linear-gradient(100% 20% 90deg, #e8eaeb, #ededed);
    background: -webkit-gradient(linear, 0% 0%, 0% 20%, from(#ededed), to(#e8eaeb));
}

.singleRow td {
    font-size: 140%;
    font-weight: bold;
    background: rgba(0,0,0,0.05) !important;
}

/*
 Nodig voor gecko browser voor de rounded borders
*/

.tableMenu tr:first-child th.first {
    -moz-border-radius-topleft:5px;
    -webkit-border-top-left-radius:5px; /* Saf3-4 */
}

.tableMenu tr:first-child th.last {
    -moz-border-radius-topright:5px;
    -webkit-border-top-right-radius:5px; /* Saf3-4 */
}

.tableMenu tr:last-child td.first {
    -moz-border-radius-bottomleft:5px;
    -webkit-border-bottom-left-radius:5px; /* Saf3-4 */
}

.tableMenu tr:last-child td.last {
    -moz-border-radius-bottomright:5px;
    -webkit-border-bottom-right-radius:5px; /* Saf3-4 */
}

.menuPaddingTop {
    padding-top: 10px;
    padding-bottom: 10px;
}

.onlangsbekekenimage {

}

.onlangsbekekenimage img{
    display: block;                   
    max-height: 150px;
    background: #fff url('images/bg04.png');
    padding: 3px;
    box-shadow: 3px 3px 3px 1px rgba(0,0,0,0.15);
    margin: 0 0 0.7em 0;
    outline: 0;
    overflow: hidden;
}

.tableWithPadding td {
    padding-bottom: 15px;
}

select {
    //font-size: 105%;
    margin-left: 8px;
    padding:8px;
    border-radius: 5px;
    min-width: 100%;
}

.inputNieuwsbrief {
    font-size: 105%;
    padding: 8px;
    padding-left: 12px;
    margin-top: 10px;
}

.prijsSamenvatting td {
    padding-bottom: 8px;
}

/*********************************************************************************/
/* Icons                                                                         */
/*********************************************************************************/

.icon {
    position: relative;
    text-decoration: none;
}

.icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
}

.icon > .label {
    display: none;
}

/* Button */

input[type="button"],
input[type="submit"],
input[type="reset"],
.button
{
    -webkit-appearance: none;
    position: relative;
    display: inline-block;
    background: #F2472A;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: 800;
    outline: 0;
    border: 0;
    cursor: pointer;
    margin-top:10px; // 10/11/16 add
    -moz-transition: background-color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out;
    -ms-transition: background-color .25s ease-in-out;
    transition: background-color .25s ease-in-out;
}
input[type="submit"] {
    margin-right:15px;
}

input[type="button"]:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.button:hover
{
    background: #10a0d5;
}

input[type="button"]:active,
input[type="submit"]:active,
input[type="reset"]:active,
.button:active
{
    background: #20b0e5;
}

.button.icon
{
}

.button.icon:before
{
    position: relative;
}

input[type="button"].alt,
input[type="submit"].alt,
input[type="reset"].alt,
.button.alt
{
    background: #f1f1f1;
    background: rgba(0,0,0,0.05);
    color: #444;
}

input[type="button"].alt:hover,
input[type="submit"].alt:hover,
input[type="reset"].alt:hover,
.button.alt:hover
{
    background: #e8e8e8;
    background: rgba(0,0,0,0.085);
}

input[type="button"].alt:active,
input[type="submit"].alt:active,
input[type="reset"].alt:active,
.button.alt:active
{
    background: #e4e4e4;
    background: rgba(0,0,0,0.15);
}

.button a {
    color: white !important;    
}

.colorblock {    
    float:left;
    margin: 5px 5px 8px 9px;
    width: 40px;
    height: 40px;
    background-color: blue;
    cursor: pointer;
}

.selectedColor {
    border: 2px solid black;
}

.toegevoegd {
    background-color: rgba(0,255,0,0.5);
    animation: slideup 7s;      
    -moz-animation: slideup 7s;      
    -webkit-animation: slideup 7s;      
    -o-animation: slideup 7s;   
    position: relative;
    //overflow:hidden;
    height: 0px;
    //width: 100%;
    font-weight: bold;
    font-size: 120%;
    color:white;
}

.toegevoegd p{
    
    margin-left: auto;
    margin-right:auto;
    width: 500px;
        
    
}

@keyframes slideup
{
    0%   {height:50px;}
    75%  {height:50px;}
    100% {height:0px;}
}

@-moz-keyframes slideup
{
    0%   {height:50px;}
    75%  {height:50px;}
    100% {height:0px;}
}

@-webkit-keyframes slideup
{
    0%   {height:50px;}
    75%  {height:50px;}
    100% {height:0px;}
}

@-o-keyframes slideup
{
    0%   {height:50px;}
    75%  {height:50px;}
    100% {height:0px;}
}

.zoekinput {
    line-height: 200%;
    width: 100%;
    height: auto;
    padding: 12px;
    font-size: 120%;    
}

.pdfImage img{
    width: 150px;
    height: 60px;
    
}

.tableMenu input {
    width:auto;
    min-width: 45%;
}

.wrapperdiv {
    width: 100%;
    
    overflow: hidden; /* will contain if #first is longer than #second */
}
.innerleft {
    width: 45%;
    float:left; /* add this */
    
}
.innerright {
    padding-left: 10%;
    overflow: hidden; /* if you don't want #second to wrap below #first */
}

.tablepad10 td {    
    padding: 5px;
    padding-right: 10%;
}

.dropOptieOnderdeel {    
    max-width: 80%;
    min-width: 50% !important;
}

.shopimg {
    max-height: 270px;
    overflow: hidden;
}

.blur {
    width:100%;
    height:100%;
    position: absolute;
    background-image:url('http://localhost:88/frietonline/application/images/banner.png') !important;
    background-size:cover;
    -webkit-filter: blur(4px);
    -moz-filter: blur(4px);
    -ms-filter: blur(4px);
    -o-filter: blur(4px);
    filter: blur(4px);
}

.kaartTable {
    width: 100%;
    background-color: white;
    color: black;
}

.kaartTable td{
    padding: 5px;
    background-color: white;
    border: 2px solid black;
}

.admintable td{
    padding: 5px;
}

.grayscale100{
    -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
    filter: grayscale(100%);
}

.clickable{
    cursor:pointer;
}